body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

div.content {
  margin-left: 300px;
  padding: 1px 16px;
  height: 1000px;
}

form {
  z-index:50;
}


.table{
  width: 100%;
}

.table thead {
  background-color: #39A2DB;
}

.table tbody {
  background-color: #D3E0EA;
  text-align: center;
  font-size: 16px;
}
.table thead tr th{
  font-size: 16px;
  font-weight: medium;
  color: black;
  opacity: 2;
  padding: 12px;
  vertical-align: top;
  text-align: center;
}



.button {
  border: none;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 30px 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
}

.add-btn { 
  background-color: #053742;
  color: white;
  border: none;
    cursor: pointer;
   border-radius: 5px;
    padding: 10px;
    margin-left: 8px;
}

.add-btn a{ 
  color: white;
    text-decoration: none;
}

.add-btn:hover { 
  opacity: 0.8;
}

.add-btn a:hover { 
  color: white;
    text-decoration: none;
}

table#salesinfo {
  margin-top: 10px;
  width: 100%;
}

table#salesinfo thead tr.center { text-align: center; }
table#salesinfo thead tr#left { text-align: left; }
table#salesinfo thead tr th { padding: 5px 10px; }

#row-foot { 
  font-weight: bold;
  text-align: right; 
  padding: 10px 15px;
}

table#salesreport {
  width: 100%;
  border: solid 1px black;
  border-collapse: collapse;
}

table#salesreport thead {
  background-color: #A2DBFA;
}

table#salesreport tbody {
  background-color: #fff;
  /*text-align: center;*/
  font-size: 16px;
}
table#salesreport thead tr th{
  font-size: 16px;
  font-weight: medium;
  color: black;
  opacity: 2;
  vertical-align: top;
  text-align: center;
}

table#salesreport thead tr th h4 { font-weight: bolder; }

table#salesreport > thead > tr > th {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
}

table#salesreport > tbody > tr > td {
  border-right: 1px solid black;
  padding: 7px 10px;
}

table#salesreport > tbody > tr > td#right {
  border-right: 1px solid black;
  padding: 7px 10px;
  text-align: center;
}

/*table#sales-report > tfoot > tr > td{
  border-top: 1px solid black;
  padding: 10px;
  text-align: right;
  font-weight: bolder;
}*/

table#salesreport tbody {
  display: block;
  max-height: 400px;

}

table#salesreport thead, table#salesreport tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table#salesreport thead tr th#left-align { 
  text-align: left; 
  background-color: #F8EDE3;
  font-size: 18px;
}

div.btn-options {
  margin-left: 300px;
  margin-bottom: 50px;
  padding: 1px 16px;
}

div.btn-options > button > i { vertical-align: middle; }

div.btn-options > button, div.btn-options > a > button {
  background-color: #053742;
  color: white;   
  border: none;
  border-radius: 5px;
    padding: 10px 15px;
}

div.btn-options > button:hover, div.btn-options > a > button:hover {
  opacity: 0.8;
}
